<a href="https://colab.research.google.com/github/ahmedebeed555/Python/blob/main/13JULSales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
sales = np.random.randint(1,100000,(10000))

In [4]:
print("Sum of sales :", np.sum(sales))

Sum of sales : 500405777

In [5]:
print("Mean of Sales :" , np.mean(sales))

Mean of Sales : 50040.5777

In [9]:
print("Median of Sales :" , np.median(sales) )

Median of Sales : 50043.0

In [10]:
print("Standard Deviation of Sales :", np.std(sales))

Standard Deviation of Sales : 28994.582872905117

In [18]:
print("Variance of Sales :" , np.var(sales))

Variance of Sales : 840685835.9737628

In [20]:
print(np.max(sales))

99998

In [23]:
print(np.average(sales))

50040.5777